.container {
  text-align: center;
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-top: 2vh;
  color: #0b090a;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title img {
  padding: 0 1vw;
  height: 2vh;
}

.reset {
  font-size: 3vw;
  margin-top: 2vh;
  border-radius: 2vw;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  -o-border-radius: 2vw;
  padding: 0.5vh 5vw;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #6b9080;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: #0b090a;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}

.reset:hover {
  background-color: #a4c3b2;
  color: #000;
}

.board {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  max-width: 10vw;
  aspect-ratio: 1 / 1;
  background-color: #d6ccc2;
  border: 0.5vw solid #edede9;
  margin: 0.2vw;
  border-radius: 2vw;
  -webkit-border-radius: 2vw;
  -moz-border-radius: 2vw;
  -ms-border-radius: 2vw;
  -o-border-radius: 2vw;
  cursor: pointer;
  box-shadow: 0 0 19px rgba(168, 172, 185, 0.3);
}

.boxes:hover {
  background-color: #e3d5ca;
}

.boxes img {
  width: 50%;
}

